apiVersion: v1
kind: Service
metadata:
  name: "{{ ceph_service_name }}"
  namespace: "{{ namespace }}"
  labels:
    app: jupyterhub
    component: ceph-nano
spec:
  ports:
  - name: ceph-nano-8000
    port: 8000
    protocol: TCP
    targetPort: 8000
  type: LoadBalancer
  selector:
    app: jupyterhub
    component: ceph-nano
